body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    margin: 0 auto;
}
#flyButton{
    display: none;
}
#controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive styling for mobile */
@media only screen and (max-width: 768px) {
    #board {
        width: 100vw;
        height: 100vh;
    }

    button {
        font-size: 20px;
    }
}