body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.matrix-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.matrix-option {
    padding: 20px;
    margin: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.matrix-option:hover {
    background-color: #14bdec;
}

.matrix-option.selected {
    background-color: #007BFF;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}


.note {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 20px; /* Adjust this value as needed */
    width: calc(100% - 40px); /* Adjust width to fit container */
    max-width: 600px;
    text-align: center;
}
.note:hover {
    border-color: blue; /* Changes the border color to blue on hover */
    border-width: 2px; /* Optional: Adjusts the border width */
    border-style: solid; /* Ensures the border is visible */
}

.note h2 {
    margin-top: 0;
}

.note ol {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}